version: "3.8"

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "50051:50051"
    volumes:
      - "./backend:/go/src/app"
    # Airを使ってホットリロード (Dockerfile.devのCMDを使用)
