services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "50051:50051"
    volumes:
      - "./backend:/go/src/app"
    env_file:
      - ./backend/.env.local
    # Airを使ってホットリロード (Dockerfile.devのCMDを使用)
