version: "3.8"

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "50051:50051"
    # env_file:
    # - "env/local.env"
    volumes:
      - "./backend:/go/src/app"
    command: ["go", "run", "cmd/server/main.go"]
